# GPIO
set_io gpio_pins[0] B8
set_io gpio_pins[1] A8
set_io gpio_pins[2] B7
set_io gpio_pins[3] A7
set_io gpio_pins[4] B6
set_io gpio_pins[5] A6
set_io gpio_pins[6] B1
set_io gpio_pins[7] C2

# UART
set_io rx A9
set_io tx C9

# Motor Controller
set_io pwm[0] H2
set_io pwm[1] H9
set_io motor[0] H1
set_io motor[1] J1
set_io motor[2] D8
set_io motor[3] D9
set_io motor_enable G2

# GPU
set_io h_sync A1
set_io v_sync A2
set_io R E2
set_io G D1
set_io B D2

# Reset
set_io -pullup yes reset E1
set_io reset_out C1

# Global Clock
set_io clk B2