# GPIO
set_io gpio_pins[0] D2
set_io gpio_pins[1] D1
set_io gpio_pins[2] E2
set_io gpio_pins[3] E1
set_io gpio_pins[4] G2
set_io gpio_pins[5] H1
set_io gpio_pins[6] J1
set_io gpio_pins[7] H2

# UART
set_io rx H9
set_io tx D9

# GPU
set_io h_sync A8
set_io v_sync B7
set_io R B1
set_io G C2
set_io B C1

# Reset
set_io reset A6
set_io reset_out B6

# Global Clock
set_io clk B2